/*--oxford-blue: #080c24ff;

--oxford-blue-2: #151e34ff;

--blue-crayola: #3071e8ff;

--white: #ffffffff;

--maximum-blue-purple: #a6b2ebff;

--celadon-blue: #1f7ea7ff;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/* PÁGINA DE CONTATO */
.cartao {
    background-color: #221f1f;
    color: white;
}
.cartao h5{
    color: white;
}
.botao {
    border-radius: 5px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.3em;
    outline: 1px solid white;
}
.botao:hover {
    background-color: #242726;
    outline: 2px solid white;
}
.titulo {
    text-align: center;
    color: white;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.formulario {
    border-radius: 5px;
    
}

/*PÁGINA HOME*/

.categorias {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    overflow: hidden;
}
.title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 2em;
}
.lista2 {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    font-weight: 100;
}
.linha {
    height: 2px;
    background-color: #1c1c1c;
}
@media (max-width: 500px) {
    .lista2 {
        margin-left: 0;
        padding-left: 0;
        display: grid;
        align-items: center;
        justify-content: center;
    }
}